# app/views/user_mailer/activation_email.html.erb
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
      <h1>Welcome to Our Platform!</h1>
      <p>Thank you for signing up. To activate your account, please click the button below:</p>
      <p style="text-align: center;">
        <a href="<%= @activation_url %>" class="button">Activate Account</a>
      </p>
      <p>
        If the button doesn't work, copy and paste this link into your browser:
        <br>
        <%= @activation_url %>
      </p>
      <p>This link will expire in 24 hours.</p>
    </div>
  </body>
</html>