files:
  "/etc/systemd/system/sidekiq.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=sidekiq
      After=syslog.target network.target

      [Service]
      Type=simple
      WorkingDirectory=/var/app/current
      ExecStart=/bin/bash -lc 'bundle exec sidekiq'
      User=webapp
      Group=webapp
      Restart=always
      RestartSec=1
      SyslogIdentifier=sidekiq

      [Install]
      WantedBy=multi-user.target

commands:
  01_enable_sidekiq:
    command: "systemctl enable sidekiq.service"
  02_start_sidekiq:
    command: "systemctl start sidekiq.service"